/* Page login */
.login-page{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:Roboto, sans-serif;
}

/* Card principale */
.login-card{
  width:900px;
  height:500px;
  background:white;
  border-radius:12px;
  display:flex;
  overflow:hidden;
  box-shadow:0 10px 40px rgba(0,0,0,0.2);
}

/* Partie formulaire */
.login-form{
  width:50%;
  padding:50px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.login-form h2{
  margin-bottom:5px;
}

.subtitle{
  color:#777;
  margin-bottom:30px;
}

/* Champs */
.form-group{
  margin-bottom:20px;
}

.form-group label{
  font-size:14px;
  margin-bottom:5px;
  display:block;
}

.form-group input{
  width:100%;

  border:1px solid #ddd;
  border-radius:6px;
  font-size:14px;
}

/* Options login */
.login-options{
  display:flex;
  justify-content:space-between;
  font-size:13px;
  margin-bottom:20px;
}

/* Bouton */
.login-btn{
  width:100%;
  padding:12px;
  border:none;
  background:#2a5298;
  color:white;
  border-radius:6px;
  font-size:15px;
  cursor:pointer;
  transition:0.3s;
}

.login-btn:hover{
  background:#1e3c72;
}

/* Partie image */
.login-image{
  width:50%;
  background:url("https://images.unsplash.com/photo-1563986768609-322da13575f3") center/cover;
  position:relative;

  border-top-left-radius:12px;
  border-bottom-left-radius:12px;
}

/* Overlay slogan */
.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.55);
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:40px;
}

.overlay h2{
  font-size:28px;
  margin-bottom:15px;
}

.overlay p{
  font-size:14px;
  line-height:1.6;
}

/* Responsive mobile */
@media(max-width:768px){

.login-card{
  flex-direction:column;
  height:auto;
  width:90%;
}

.login-image{
  height:200px;
  width:100%;
}

.login-form{
  width:100%;
  padding:30px;
}

}
.input-icon{
  display:flex;
  align-items:center;
  border:1px solid #ddd;
  border-radius:6px;
  padding:10px;
  gap:10px;
  background:#fff;
}

.input-icon span{
  color:#777;
  font-size:20px;
}

.input-icon input{
  border:none;
  outline:none;
  width:100%;
  font-size:14px;
}

.input-icon{
  display:flex;
  align-items:center;
  border:1px solid #ddd;
  border-radius:6px;
  padding:10px;
  gap:10px;
  background:#fff;
}

.input-icon input{
  border:none;
  outline:none;
  flex:1;
  font-size:14px;
}

/* icone gauche */
.input-icon span{
  color:#777;
  font-size:20px;
}

/* icone oeil */
.eye-icon{
  cursor:pointer;
  color:#666;
}

.eye-icon:hover{
  color:#000;
}