/* Page login */
.login-page{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:Roboto, sans-serif;
}

/* Card principale */
.login-card{
  width:900px;
  height:500px;
  background:white;
  border-radius:12px;
  display:flex;
  overflow:hidden;
  box-shadow:0 10px 40px rgba(0,0,0,0.2);
}

/* Partie formulaire */
.login-form{
  width:50%;
  padding:50px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.login-form h2{
  margin-bottom:5px;
}

.subtitle{
  color:#777;
  margin-bottom:30px;

}

/* Champs */
.form-group{
  margin-bottom:10px;
}

.form-group label{
  font-size:14px;
  margin-bottom:5px;
  display:block;
}

.form-group input{
  width:100%;

  border:1px solid #ddd;
  border-radius:6px;
  font-size:14px;
}

/* Options login */
.login-options{
  display:flex;
  justify-content:space-between;
  font-size:13px;
  margin-bottom:20px;
  margin-left: 5px;
}

/* Bouton */
.login-btn{
  width:100%;
  padding:12px;
  border:none;
  background:#2a5298;
  color:white;
  border-radius:6px;
  font-size:15px;
  cursor:pointer;
  transition:0.3s;
}

.login-btn:hover{
  background:#1e3c72;
}

/* Partie image */
.login-image{
  width:50%;
  background:url("https://images.unsplash.com/photo-1563986768609-322da13575f3") center/cover;
  position:relative;

  border-top-left-radius:12px;
  border-bottom-left-radius:12px;
}

/* Overlay slogan */
.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.55);
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:40px;
}

.overlay h2{
  font-size:28px;
  margin-bottom:15px;
}

.overlay p{
  font-size:14px;
  line-height:1.6;
}
.google-btn img{
  width: 20px;
  height: 20px;
}

/* Responsive mobile */
@media(max-width:768px){

.login-card{
  flex-direction:column;
  height:auto;
  width:90%;
}
.login-image{
  display: none;
}

.login-form{
  width:100%;
  padding:30px;
}

}
.input-icon{
  display:flex;
  align-items:center;
  border:1px solid #ddd;
  border-radius:6px;
  padding:10px;
  gap:10px;
  background:#fff;
}

.input-icon span{
  color:#777;
  font-size:20px;
}

.input-icon input{
  border:none;
  outline:none;
  width:100%;
  font-size:14px;
}

.input-icon{
  display:flex;
  align-items:center;
  border:1px solid #ddd;
  border-radius:6px;
  padding:10px;
  gap:10px;
  background:#fff;
}

.input-icon input{
  border:none;
  outline:none;
  flex:1;
  font-size:14px;
}

/* icone gauche */
.input-icon span{
  color:#777;
  font-size:20px;
}

/* icone oeil */
.eye-icon{
  cursor:pointer;
  color:#666;
}

.eye-icon:hover{
  color:#000;
}


.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  margin-top: 12px; /* espace entre Se connecter et Google */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  color: #555;
  transition: all 0.3s;
}

.google-btn img {
  width: 20px;
  height: 20px;
}

.google-btn:hover {
  background-color: #f1f1f1;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px 0; /* espace vertical autour du séparateur */
  font-size: 14px;
  color: #999;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.separator::before {
  margin-right: 10px;
}

.separator::after {
  margin-left: 10px;
}
/* Conteneur téléchargement */
.app-download {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.app-download p {
  margin-bottom: 10px;
  font-weight: 500;
}

/* Conteneur boutons */
.app-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

/* Styles boutons App Store et Play */
.app-buttons a {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 6px;
  background: #f2f2f2;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: background 0.3s;
}

.app-buttons a:hover {
  background: #e0e0e0;
}

.app-buttons img {
  height: 24px;
  margin-right: 6px;
}

/* Hover */
.google-btn:hover {
  background: rgb(207, 204, 204);
}

.logo{
  width: 700px;   /* diminue la taille */
  height: auto;
  display: block;
  margin: 0 auto 20px; /* centre + espace en bas */
}

/* conteneur centré */
.zaly-container{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* bloc */
.zaly-tech{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%; /* largeur fixe */
  padding: 8px 14px;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 14px;
  background: transparent;
  transition: all 0.3s ease;
}

/* logo */
.zaly-tech img{
  width: 160px;
  height: 50px;
}

/* hover */
.zaly-tech:hover{
  background: #d1cccc;
  color: black;
}